.container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap:  30px;
    height: 98vh;
    width: 15vw;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(163, 163, 163, 0.274);
}

.container button{
    width: 50%;
    height: 50px;
    border-style: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(163, 163, 163, 0.151);
}

.container button:hover{
    cursor: pointer;
    
}
